/* @import 'swiper/swiper-bundle.min.css'; */
@import 'react-responsive-carousel/lib/styles/carousel.min.css';
/* @import '@ionic/react/css/ionicons.css'; */
/* @import "./CustomCarousel.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

/* style for featuredOn component  */
.marquee {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
